body.single-foyer_display,
body.single-foyer_channel,
body.single-foyer_slide {
	background-color: #222;
}


.foyer-preview-9-16,
.foyer-preview-16-9 {
	margin: 0 auto;
	overflow: hidden;

	.foyer-slides {
		background-color: #fff;
	}
}

.foyer-preview-9-16 {
	width: (9 / 16) * 96vh;
	height: 100vh;
	padding: 2vh 0;
}

.foyer-preview-16-9 {
	width: 100vw;
	height: (9 / 16) * 96vw;
	padding: 0 2vw;
}
