.foyer-slide-background.foyer-slide-background-image figure {
  margin: 0;
}
.foyer-slide-background.foyer-slide-background-image figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
