html.foyer {
  font-size: 100% !important;
  font-size: 1.48148148vmin !important;
}
body.single-foyer_display,
body.single-foyer_channel,
body.single-foyer_slide {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  max-width: none;
  max-height: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: #222;
  box-sizing: border-box;
}
body.single-foyer_display *,
body.single-foyer_channel *,
body.single-foyer_slide * {
  box-sizing: border-box;
}
.foyer-preview-9-16 {
  width: 54vh;
  height: 100vh;
  margin: 0 auto;
  padding: 2vh 0;
  overflow: hidden;
}
.foyer-preview-16-9 {
  width: 100vw;
  height: 54vw;
  margin: 0 auto;
  padding: 0 2vw;
  overflow: hidden;
}
.foyer-display,
.foyer-channel,
.foyer-slides {
  width: 100%;
  height: 100%;
}
.foyer-slides {
  background-color: #fff;
}
.foyer-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}
.foyer-slide figure {
  margin: 0;
}
.foyer-slide figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.foyer-slide .foyer-slide-fields {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2vmin 4vmin;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  font-size: 1rem;
  line-height: 1.2;
}
.foyer-slide .foyer-slide-fields h1 {
  font-size: 3rem;
}
.foyer-transition-fade .foyer-slides {
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}
.foyer-transition-fade .foyer-slides .foyer-slide {
  width: 100%;
  position: absolute;
  left: 100%;
  top: 0;
  -webkit-backface-visibility: hidden;
  /* fixes a Chrome opacity transition bug */
  opacity: 0;
  -webkit-transition: opacity 1.5s ease, left 0s ease 1.5s;
  transition: opacity 1.5s ease, left 0s ease 1.5s;
}
.foyer-transition-fade .foyer-slides .foyer-slide:first-child {
  position: relative;
  opacity: 0;
  left: 0;
  z-index: 2;
}
.foyer-transition-fade .foyer-slides .foyer-slide.active {
  opacity: 1;
  left: 0;
  z-index: 3;
  -webkit-transition: left 0s, opacity 1.5s ease;
  transition: left 0s, opacity 1.5s ease;
}
.foyer-transition-slide .foyer-slides {
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}
.foyer-transition-slide .foyer-slides .foyer-slide {
  width: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: left 1.5s ease, opacity 0s ease 1.5s;
  transition: left 1.5s ease, opacity 0s ease 1.5s;
}
.foyer-transition-slide .foyer-slides .foyer-slide.active {
  left: 0;
  opacity: 1;
  z-index: 2;
  -webkit-transition: opacity 0s, left 1.5s ease;
  transition: opacity 0s, left 1.5s ease;
}
.foyer-transition-slide .foyer-slides .foyer-slide.next {
  left: 100%;
  opacity: 1;
  z-index: 2;
  -webkit-transition: left 0s ease, opacity 0s ease;
  transition: left 0s ease, opacity 0s ease;
}
html.foyer {
  font-size: 100% !important;
  font-size: 1.48148148vmin !important;
}
body.single-foyer_display,
body.single-foyer_channel,
body.single-foyer_slide {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  max-width: none;
  max-height: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: #222;
  box-sizing: border-box;
}
body.single-foyer_display *,
body.single-foyer_channel *,
body.single-foyer_slide * {
  box-sizing: border-box;
}
.foyer-preview-9-16 {
  width: 54vh;
  height: 100vh;
  margin: 0 auto;
  padding: 2vh 0;
  overflow: hidden;
}
.foyer-preview-16-9 {
  width: 100vw;
  height: 54vw;
  margin: 0 auto;
  padding: 0 2vw;
  overflow: hidden;
}
.foyer-display,
.foyer-channel,
.foyer-slides {
  width: 100%;
  height: 100%;
}
.foyer-slides {
  background-color: #fff;
}
.foyer-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}
.foyer-slide figure {
  margin: 0;
}
.foyer-slide figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.foyer-slide .foyer-slide-fields {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2vmin 4vmin;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  font-size: 1rem;
  line-height: 1.2;
}
.foyer-slide .foyer-slide-fields h1 {
  font-size: 3rem;
}
.foyer-transition-fade .foyer-slides {
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}
.foyer-transition-fade .foyer-slides .foyer-slide {
  width: 100%;
  position: absolute;
  left: 100%;
  top: 0;
  -webkit-backface-visibility: hidden;
  /* fixes a Chrome opacity transition bug */
  opacity: 0;
  -webkit-transition: opacity 1.5s ease, left 0s ease 1.5s;
  transition: opacity 1.5s ease, left 0s ease 1.5s;
}
.foyer-transition-fade .foyer-slides .foyer-slide:first-child {
  position: relative;
  opacity: 0;
  left: 0;
  z-index: 2;
}
.foyer-transition-fade .foyer-slides .foyer-slide.active {
  opacity: 1;
  left: 0;
  z-index: 3;
  -webkit-transition: left 0s, opacity 1.5s ease;
  transition: left 0s, opacity 1.5s ease;
}
.foyer-transition-slide .foyer-slides {
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}
.foyer-transition-slide .foyer-slides .foyer-slide {
  width: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: left 1.5s ease, opacity 0s ease 1.5s;
  transition: left 1.5s ease, opacity 0s ease 1.5s;
}
.foyer-transition-slide .foyer-slides .foyer-slide.active {
  left: 0;
  opacity: 1;
  z-index: 2;
  -webkit-transition: opacity 0s, left 1.5s ease;
  transition: opacity 0s, left 1.5s ease;
}
.foyer-transition-slide .foyer-slides .foyer-slide.next {
  left: 100%;
  opacity: 1;
  z-index: 2;
  -webkit-transition: left 0s ease, opacity 0s ease;
  transition: left 0s ease, opacity 0s ease;
}
