body.single-foyer_display.admin-bar,
body.single-foyer_channel.admin-bar,
body.single-foyer_slide.admin-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  background-color: #555;
}
.foyer-preview-9-16,
.foyer-preview-16-9 {
  margin: 0 auto;
  display: block;
  border: none;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  margin-top: -45px;
}
@media screen and (max-width: 782px) {
  .foyer-preview-9-16,
  .foyer-preview-16-9 {
    margin-top: -45px;
  }
}
.foyer-preview-9-16 {
  width: calc(54vh - 43.3125px);
  height: calc(96vh - 77px);
}
@media screen and (max-width: 782px) {
  .foyer-preview-9-16 {
    width: calc(54vh - 51.1875px);
    height: calc(96vh - 91px);
  }
}
.foyer-preview-16-9 {
  width: calc(96vh - 77px);
  height: calc(54vh - 43.3125px);
}
@media screen and (max-width: 782px) {
  .foyer-preview-16-9 {
    width: calc(96vh - 91px);
    height: calc(54vh - 51.1875px);
  }
}
.foyer-preview-actions {
  position: fixed;
  z-index: 999;
  bottom: 0;
  height: 45px;
  border-top: 1px solid #eee;
  background: #eee;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 32px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  text-align: center;
}
.foyer-preview-actions div {
  display: inline-block;
  cursor: pointer;
  border: none;
  height: 44px;
  margin: 0;
  padding: 4px 8px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 4px solid transparent;
  -webkit-transition: 0.15s color ease-in-out, 0.15s background-color ease-in-out, 0.15s border-color ease-in-out;
  transition: 0.15s color ease-in-out, 0.15s background-color ease-in-out, 0.15s border-color ease-in-out;
  font: inherit;
  color: #72777c;
  outline: none;
}
.foyer-preview-actions div:hover {
  background-color: #fff;
  color: #0073aa;
}
.foyer-preview-actions div:hover.active {
  border-color: #0073aa;
}
.foyer-preview-actions div.active {
  border-color: #23282d;
  color: #23282d;
}
.foyer-preview-actions div.active:hover {
  color: #0073aa;
  border-color: #0073aa;
}
body.single-foyer_display,
body.single-foyer_channel,
body.single-foyer_slide {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  max-width: none;
  max-height: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body.single-foyer_display *,
body.single-foyer_channel *,
body.single-foyer_slide * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body.single-foyer_display:not(.custom-background-image):before,
body.single-foyer_channel:not(.custom-background-image):before,
body.single-foyer_slide:not(.custom-background-image):before,
body.single-foyer_display:not(.custom-background-image):after,
body.single-foyer_channel:not(.custom-background-image):after,
body.single-foyer_slide:not(.custom-background-image):after {
  display: none;
}
.foyer-display,
.foyer-channel,
.foyer-slides {
  width: 100%;
  height: 100%;
}
.foyer-slide {
  overflow: hidden;
}
.foyer-transition-fade .foyer-slides {
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}
.foyer-transition-fade .foyer-slides .foyer-slide {
  width: 100%;
  position: absolute;
  left: 100%;
  top: 0;
  -webkit-backface-visibility: hidden;
  /* fixes a Chrome opacity transition bug */
  opacity: 0;
  -webkit-transition: opacity 1.5s ease, left 0s ease 1.5s;
  transition: opacity 1.5s ease, left 0s ease 1.5s;
}
.foyer-transition-fade .foyer-slides .foyer-slide:first-child {
  position: relative;
  opacity: 0;
  left: 0;
  z-index: 2;
}
.foyer-transition-fade .foyer-slides .foyer-slide.active {
  opacity: 1;
  left: 0;
  z-index: 3;
  -webkit-transition: left 0s, opacity 1.5s ease;
  transition: left 0s, opacity 1.5s ease;
}
.foyer-transition-slide .foyer-slides {
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}
.foyer-transition-slide .foyer-slides .foyer-slide {
  width: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: left 1.5s ease, opacity 0s ease 1.5s;
  transition: left 1.5s ease, opacity 0s ease 1.5s;
}
.foyer-transition-slide .foyer-slides .foyer-slide.active {
  left: 0;
  opacity: 1;
  z-index: 2;
  -webkit-transition: opacity 0s, left 1.5s ease;
  transition: opacity 0s, left 1.5s ease;
}
.foyer-transition-slide .foyer-slides .foyer-slide.next {
  left: 100%;
  opacity: 1;
  z-index: 2;
  -webkit-transition: left 0s ease, opacity 0s ease;
  transition: left 0s ease, opacity 0s ease;
}
.foyer-transition-none .foyer-slides {
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}
.foyer-transition-none .foyer-slides .foyer-slide {
  display: none;
}
.foyer-transition-none .foyer-slides .foyer-slide.active {
  display: block;
}
html {
  font-size: 100% !important;
  font-size: 1.48148148vmin !important;
}
.foyer-slide {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.foyer-slide .foyer-slide-field {
  color: #000;
  font-size: 2rem;
  line-height: 1.2;
}
.foyer-slide .foyer-slide-field.foyer-slide-field-title {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.foyer-slide .foyer-slide-field.foyer-slide-field-pretitle,
.foyer-slide .foyer-slide-field.foyer-slide-field-subtitle {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.foyer-slide .foyer-slide-field.foyer-slide-field-date {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.foyer-slide .foyer-slide-field.foyer-slide-field-content > *:last-child {
  margin-bottom: 0;
}
.foyer-slide .foyer-slide-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}
.foyer-slide.foyer-slide-iframe iframe {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
}
.foyer-slide.foyer-slide-pdf figure {
  margin: 0;
}
.foyer-slide.foyer-slide-pdf figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.foyer-slide.foyer-slide-post .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}
.foyer-slide.foyer-slide-post .inner figure,
.foyer-slide.foyer-slide-post .inner .foyer-slide-fields {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  height: auto;
}
.foyer-slide.foyer-slide-post .inner figure {
  margin: 0;
}
.foyer-slide.foyer-slide-post .inner figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.foyer-slide.foyer-slide-post .inner .foyer-slide-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4vmin;
}
.foyer-slide.foyer-slide-post .inner .foyer-slide-fields .foyer-slide-field-title span,
.foyer-slide.foyer-slide-post .inner .foyer-slide-fields .foyer-slide-field-date span,
.foyer-slide.foyer-slide-post .inner .foyer-slide-fields .foyer-slide-field-content {
  line-height: 1.5;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}
.foyer-slide.foyer-slide-post .inner .foyer-slide-fields .foyer-slide-field-date span {
  line-height: 1.7;
}
.foyer-slide.foyer-slide-post .inner .foyer-slide-fields .foyer-slide-field-content {
  padding: 1.5rem 1rem;
}
@media (min-aspect-ratio: 1/1) {
  .foyer-slide.foyer-slide-post .inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .foyer-slide.foyer-slide-post .inner .foyer-slide-fields {
    width: 66.66666667%;
  }
  .foyer-slide.foyer-slide-post .inner figure,
  .foyer-slide.foyer-slide-post .inner figure + .foyer-slide-fields {
    width: 50%;
  }
}
@media (max-aspect-ratio: 1/1) {
  .foyer-slide.foyer-slide-post .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .foyer-slide.foyer-slide-post .inner figure,
  .foyer-slide.foyer-slide-post .inner figure + .foyer-slide-fields {
    height: 50%;
  }
}
.foyer-slide.foyer-slide-production .foyer-slide-fields {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2vmin 4vmin;
  background-color: rgba(255, 255, 255, 0.8);
}
.foyer-slide.foyer-slide-recent-posts .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}
.foyer-slide.foyer-slide-recent-posts .inner figure,
.foyer-slide.foyer-slide-recent-posts .inner .foyer-slide-fields {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  height: auto;
}
.foyer-slide.foyer-slide-recent-posts .inner figure {
  margin: 0;
}
.foyer-slide.foyer-slide-recent-posts .inner figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.foyer-slide.foyer-slide-recent-posts .inner .foyer-slide-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4vmin;
}
.foyer-slide.foyer-slide-recent-posts .inner .foyer-slide-fields .foyer-slide-field-title span,
.foyer-slide.foyer-slide-recent-posts .inner .foyer-slide-fields .foyer-slide-field-date span,
.foyer-slide.foyer-slide-recent-posts .inner .foyer-slide-fields .foyer-slide-field-content {
  line-height: 1.5;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}
.foyer-slide.foyer-slide-recent-posts .inner .foyer-slide-fields .foyer-slide-field-date span {
  line-height: 1.7;
}
.foyer-slide.foyer-slide-recent-posts .inner .foyer-slide-fields .foyer-slide-field-content {
  padding: 1.5rem 1rem;
}
@media (min-aspect-ratio: 1/1) {
  .foyer-slide.foyer-slide-recent-posts .inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .foyer-slide.foyer-slide-recent-posts .inner .foyer-slide-fields {
    width: 66.66666667%;
  }
  .foyer-slide.foyer-slide-recent-posts .inner figure,
  .foyer-slide.foyer-slide-recent-posts .inner figure + .foyer-slide-fields {
    width: 50%;
  }
}
@media (max-aspect-ratio: 1/1) {
  .foyer-slide.foyer-slide-recent-posts .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .foyer-slide.foyer-slide-recent-posts .inner figure,
  .foyer-slide.foyer-slide-recent-posts .inner figure + .foyer-slide-fields {
    height: 50%;
  }
}
.foyer-slide.foyer-slide-text .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}
.foyer-slide.foyer-slide-text .inner .foyer-slide-fields {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  height: auto;
}
.foyer-slide.foyer-slide-text .inner .foyer-slide-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4vmin;
}
.foyer-slide.foyer-slide-text .inner .foyer-slide-fields .foyer-slide-field-pretitle span,
.foyer-slide.foyer-slide-text .inner .foyer-slide-fields .foyer-slide-field-title span,
.foyer-slide.foyer-slide-text .inner .foyer-slide-fields .foyer-slide-field-subtitle span,
.foyer-slide.foyer-slide-text .inner .foyer-slide-fields .foyer-slide-field-content {
  line-height: 1.5;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}
.foyer-slide.foyer-slide-text .inner .foyer-slide-fields .foyer-slide-field-pretitle span,
.foyer-slide.foyer-slide-text .inner .foyer-slide-fields .foyer-slide-field-subtitle span {
  line-height: 1.7;
}
.foyer-slide.foyer-slide-text .inner .foyer-slide-fields .foyer-slide-field-content {
  padding: 1.5rem 1rem;
}
@media (min-aspect-ratio: 1/1) {
  .foyer-slide.foyer-slide-text .inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .foyer-slide.foyer-slide-text .inner .foyer-slide-fields {
    width: 66.66666667%;
  }
}
@media (max-aspect-ratio: 1/1) {
  .foyer-slide.foyer-slide-text .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.foyer-slide.foyer-slide-upcoming-productions .foyer-slide-fields {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2vmin 4vmin;
  background-color: rgba(255, 255, 255, 0.8);
}
.foyer-slide-background.foyer-slide-background-image figure,
.foyer-slide-background.foyer-slide-background-default figure {
  margin: 0;
  width: 100%;
  height: 100%;
}
.foyer-slide-background.foyer-slide-background-image figure img,
.foyer-slide-background.foyer-slide-background-default figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.foyer-slide-background.foyer-slide-background-video iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: none;
}
.foyer-slide-background.foyer-slide-background-html5-video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
